.black-panel {
  width: 0;
  min-width: 0;
  overflow: hidden;
  transition: min-width 0.2s ease;
}

.black-panel--open {
  min-width: 280px;
  width: 280px;
}

.black-panel__content {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
